/*----------------------------------
Reference Resolution: 801px x 1024px
-----------------------------------*/
.ui-widget {
	font-family: 'Arial', Helvetica, sans-serif !important;
}
/* 
font-family: 'Segoe UI', Arial, sans-serif !important; 
font-family: 'Comic Sans MS', cursive, sans-serif !important;
font-family: 'Arial', Helvetica, sans-serif !important;
font-family: 'Lucida Sans Unicode', Lucida Grande, sans-serif !important;
font-family: 'Tahoma', Geneva, sans-serif !important;
font-family: 'Trebuchet MS', Helvetica, sans-serif !important;
font-family: 'Verdana, Geneva', sans-serif !important;
*/
.greenTitleTop {
	width: 50% !important;
	font-size: 0.75em !important;
	font-weight: bold !important;
	text-align: left !important;
}

.greenRightTop {
	width: 50% !important;
	text-align: right !important;
}

.greenPersonTop {
	width: 100% !important;
	text-align: right !important;
}

.greenLogoutTop {
	width: 100% !important;
	text-align: right !important;
}

.greenFooter {
	width: 100% !important;
	font-size: 0.56em !important;
	font-weight: bold !important;
	text-align: center !important;
}

.greenFunctionTitlePanel {
	width: 100% !important;
	font-size: 0.625em !important;
	font-weight: bold !important;
	text-align: center !important;
}

.greenLeftColumnButtonsFormOperations {
	width: 100%;
	text-align: left;
}

.greenRightColumnButtonsFormOperations {
	width: 100%;
	text-align: right;
}

.greenCenterPanel {
	padding: 0em !important;
	margin: 0em !important;
}

.greenCommandButton {
	font-size: 0.5em !important;
	text-align: center !important;
	height: 2.8em !important;
	font-weight: bold !important;
}

.greenSearchButton {
	font-size: 0.5m !important;
	text-align: center !important;
	vertical-align: middle !important;
	width: 1.4em !important;
	height: 1.0em !important;
}

.greenInputText, .greenInputTextArea, .greenInputMask, .greenInputNumber,
	.greenOutputText, .greenOutputLabel, .greenSearchField, .greenDropDown,
	.greenTabView, .greenTabAccordionPanel, .greenCalendar, .greenCarousel,
	.greenSelectOneButton, .greenToolTip, .greenFileUpload {
	font-size: 0.5em !important;
}

.greenDataTable, .greenDataGrid {
	font-size: 0.5em !important;
}

.greenPanelHeader {
	font-size: 0.5625em !important;
}

.greenLayout {
	background-color: transparent !important;
	border-style: none !important;
}

/* padding >> top > right > bottom > left */
.greenPanelButtons {
	border: none !important;
	padding: 0em 0em 0em 0em !important;
}

.greenPanelGrid {
	font-size: 0.5625em !important;
	margin-bottom: 10px !important;
}

.greenPanelGridColumns {
	text-align: center !important;
}

.greenStatus {
	width: 100% !important;
	height: 100% !important;
}

.greenActionImage {
	width: 25% !important;
}

.greenPanelGridInputData {
	border-style: none !important;
}

.greenDataTableChoose {
	font-size: 1.0em !important;
}

.greenDialogColumnLeft, .greenPanelgridColumnLeft {
	text-align: right !important;
	font-weight: bold !important;
}

.greenDialogColumnRight, .greenPanelgridColumnRight {
	text-align: left !important;
}

.greenDialogColumnCenter, .greenPanelgridColumnCenter {
	text-align: center !important;
}

.greenScheduleDataGrid {
	width: 93% !important;
	text-align: center !important;
}

.greenSoilColumnMapPanelGrid {
	padding: 0px !important;
	margin: 0px !important;
	border-style: none !important;
}

.greenSoilColumnLabel {
	font-size: 0.4375em !important;
	font-weight: bold !important;
	color: Black !important;
	text-align: left !important;
	width: 2.755em !important;
	height: 2.5em !important;
}

.greenTimeLine {
	font-size: 0.5em !important;
}

.greenTimeLineSchedulePendingApproval {
	background: DarkOrange;
}

.greenTimeLineScheduleApproved {
	background: Red;
}

.greenTimeLineScheduleRejected {
	background: Sienna;
}

/* -----------------------
Error and warning messages  
------------------------*/
.errorWarningMessages {
	font-size: 0.5625em !important;
	text-align: left !important;
	font-style: normal !important;
}

/* -----------------------
Menu layout  
------------------------*/
.ui-layout-west {
	width: 150px !important;
}

.greenMenuLayoutUnit {
	font-size: 0.6875em !important;
}

.greenMenuTitle {
	font-size: 0.5625em !important;
	font-weight: normal !important;
}

.greenMenuItem {
	font-size: 0.5625em !important;
	font-weight: normal !important;
}

/* -----------------------
Navigation History Menu layout  
------------------------*/
.greenNavigationHistoryMenuItem {
	font-size: 0.625em !important;
}

/* -----------------------
	Confirm dialog form 
-------------------------*/
.greenConfirmDialogMessage {
	font-size: 0.625em !important;
	text-align: center !important;
}

.greenConfirmDialogList {
	font-size: 0.625em !important;
}

.greenConfirmDialogInputText {
	font-size: 0.625em !important;
}

.greenConfirmDialogMessageLeft {
	text-align: right !important;
}

.greenConfirmDialogMessageRight {
	text-align: left !important;
}

.greenConfirmDialogButton {
	font-size: 0.625em !important;
	text-align: center !important;
	width: 5em !important;
}

/* -----------------------
Primefaces predefined layout 
------------------------*/
.ui-selectonemenu-items, .ui-datepicker, .ui-layout-unit-header,
	.ui-dialog-titlebar, .ui-panel-titlebar {
	font-size: 0.5em !important;
}

.ui-confirm-dialog-message {
	font-size: 0.6875em !important;
}

.ui-datatable-empty-message {
	font-weight: bold !important;
	color: Orange !important;
}

/* -----------------------
Login form   
------------------------*/
div.centerContainer {
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 90% !important;
	position: absolute !important;
	display: table !important;
	text-align: center !important;
}

div.centerContent {
	display: table-cell !important;
	vertical-align: middle !important;
}

.greenLoginMainPanel {
	border-style: none !important;
}

.greenLoginImages {
	text-align: center !important;
	width: 55% !important;
}

.greenLoginPerson {
	text-align: right !important;
	width: 45% !important;
}

/* ----------------------------
Experiment Schedule Form Styles    
-----------------------------*/
.greenExperimentScheduleButtonBackward,
	.greenExperimentScheduleButtonForward {
	font-size: 0.375em;
	text-align: center !important;
	width: 1em !important;
	height: 1em !important;
	border-style: none !important;
	vertical-align: middle !important;
}

/* -----------------------
Form layout at the top
------------------------*/
table.top {
	background-color: transparent;
	border: none;
	border-style: none;
	width: 100%;
	height: 100%;
}

td.topTitle {
	border: none;
	font-size: 0.75em;
	font-weight: bold;
	text-align: left;
}

td.topLoggedPerson {
	border: none;
	font-size: 0.5625em;
	font-weight: bold;
	text-align: rigth;
}

td.topLanguage {
	background-color: transparent;
	border: none;
	text-align: right;
}

.greenPersonName {
	font-size: 0.5em !important;
	font-weight: bold;
	text-align: rigth;
}

/* -----------------------
Form footer layout  
------------------------*/
table.footer {
	background-color: transparent;
	border: none;
	width: 100%;
	height: 100%;
}

td.footerTitle {
	border: none;
	font-size: 0.625em;
	font-weight: bold;
	text-align: center;
}

/* -----------------------
Login form layout  
------------------------*/
table.login {
	background-color: transparent;
	border: none;
}

tr.formLogin {
	border: none;
	text-align: center;
}

td.spaceLogin {
	border: none;
	text-align: center;
	height: 5em;
}

td.formLogin {
	border: none;
	text-align: center;
}

.formLoginPanel {
	width: 20em !important;
	margin-bottom: 15px !important;
	text-align: center !important;
}

.formLoginField {
	border: none;
	font-size: 0.625em;
	text-align: center;
	background-color: transparent;
	height: 0.875em;
}